
<body> 

    <h2>{{formation.nom}}   </h2> 
    
    
    <hr>
    <h3> Informations sur la formation</h3> 
    <hr>
    <h6>
    <div class="container">
        <div class="row">
          <div class="col-sm">
        Date de début : {{formation.dateDebut}}
          </div>
          <div class="col-sm">
        Date de fin : {{formation.dateFin}}
          </div>
          <div class="col-sm">
        Lieu : {{formation.lieu}}
          </div>
          <div class="col-sm">
        Prix: {{formation.prix}}
                   </div>
        </div>
      </div></h6>
    
    
    
    </body>
    
