<div class="container-fluid">

</div><form #f="ngForm" (ngSubmit)="addCommercial(f)">
    <fieldset>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h3>Ajouter un Commercial</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">

                <label path="nom" class="form-label"> Nom </label>
                <input type="text" class="form-control" name= "commercial.nom" [(ngModel)]="commercial.nom">
                
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="prenom" class="form-label"> Prénom </label>
                <input type="text" class="form-control" name="commercial.prenom" [(ngModel)]="commercial.prenom">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="adresse" class="form-label"> Adresse</label>
                <input type="text" class="form-control" name="commercial.adresse" [(ngModel)]="commercial.adresse">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="mail" class="form-label"> Mail</label>
                <input type="text" class="form-control" name="commercial.mail" [(ngModel)]="commercial.mail">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="dateNaissance"class="form-label"> Date de Naissance</label>
                <input type="text" class="form-control" name="commercial.dateNaissance" [(ngModel)]="commercial.dateNaissance">
            </div>
        </div>

       

        <div class="col-md-4">
            <div class="form-group">

                <label name="username" class="form-label"> Username </label>
                <input type="text" class="form-control" name="commercial.username" [(ngModel)]="commercial.username">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">

                <label name="password" class="form-label"> Mot de passe </label>
                <input type="password" class="form-control" name="commercial.password"  [(ngModel)]="commercial.password">
            </div>
        </div>

        <div class="row justify-content-md-center">
           
            </div>

        <div class="row justify-content-md-center">

            <div class="col-md-auto">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Valider Ajout/Modification</button>
                </div>
            </div>
        </div>
        </fieldset>

        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Nom </th>
                    <th scope="col"> Prénom </th>
                    <th scope="col"> Adresse </th>
                    <th scope="col"> Mail </th>
                    <th scope="col"> Date de Naissance </th>
                    <th scope="col"> Username </th>
                    <th scope="col"> Password  </th>
                    <th scope="col">Role  </th>
                    
                </tr>
            </thead>
            <tbody>
                
    <tr *ngFor="let com of commercials">
        <td>{{com.id}}</td>
        <td>{{com.nom}}</td>
        <td>{{com.prenom}}</td>
        <td>{{com.adresse}}</td>
        <td>{{com.mail}}</td>
        <td>{{com.dateNaissance}}</td>
        <td>{{com.username}}</td>
        <td>{{com.password}}</td>
        <td>

         
        <td>

            <button (click)="supprimerCommercial(com.id)" class="btn btn-outline-primary">

                <i class="bi bi-plus-square-fill"> Supprimer </i>
            </button>
        </td>

        <td>

            <button (click)="modifier(com.id)" class="btn btn-outline-primary">

                <i class="bi bi-plus-square-fill"> Modifier </i>
            </button>
        </td>

</tr>


</tbody>

</table>
