
<div class="d-flex justify-content-center" >

<div *ngIf="formateur.dispo==true"><span (click)="changedispo()" class="badge rounded-pill text-bg-success">Disponible</span> </div> 
<div *ngIf="formateur.dispo!=true"><span (click)="changedispo()" class="badge rounded-pill text-bg-danger">Non disponible</span> </div> <br>


</div>

<hr> 
<h3 style="color: #d9534f;"> Listes des formations</h3>
<hr> 

<table class="table table-hover">


    <thead>
        <tr>
          
            <th>Id </th>
            <th>Nom de la formation </th>
            <th> Date de début</th>
            <th> Date de fin</th>
    
         
            <th> Lieu </th>
         
            <th> Liste des participants </th>
            
        </tr>
        </thead>
    
        <tbody>
        <tr *ngFor="let f of formations ">
    
            <td> {{f.id}} </td>
            <td> {{f.nom}}</td>
            <td> {{f.dateDebut}}</td>
            <td> {{f.dateFin}}</td>
        
            <td> {{f.lieu}}</td>
            <td> <button class="btn btn-info" (click)="participantparformation(f.id)"> Participants </button></td>
        </tr>
        </tbody>
</table>