<body >

    <app-gestion-formation [formation]="formation" (newItemEvent)="onSubmitChange($event)"></app-gestion-formation>

    <h3 style="color: #d9534f;"> Listes des formations</h3>
<hr> 
<table class="table table-hover">
 <thead>
    <tr>
      
        <th>Id </th>
        <th>Nom de la formation </th>
        <th> Date de début</th>
        <th> Date de fin</th>

        <th> Prix </th>
        <th> Lieu </th>
        <th> Nom du formateur </th> 
        <th> Liste des participants </th>
        <th> Modification </th>
        <th> Suppression </th>
        
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let formation of formations ">

        <td> {{formation.id}} </td>
        <td> {{formation.nom}}</td>
        <td> {{formation.dateDebut | date:'mediumDate'}}</td>
        <td> {{formation.dateFin | date:'mediumDate'}}</td>
        <td> {{formation.prix}} </td>
        <td> {{formation.lieu}}</td>
        <td> <button class="btn btn-info" (click)="formateurparid(formation.formateur.id)" > {{formation.formateur.nom}} </button></td>
        <td> <button class="btn btn-info" (click)="participantparformation(formation.id)"> Participants </button></td>
        
        <td>
            <button (click)="modifier(formation.id)" class="btn btn-outline-warning">

                <i class="bi bi-pencil-square"> Modifier </i>
            </button>
        </td>

        <td>

            <button (click)="delete(formation.id)" class="btn btn-outline-danger">

                <i class="bi bi-plus-square-fill">  Supprimer </i>
            </button>
        </td>

    </tr>
    </tbody>
</table>

</body>