<body >
    <h3> Listes des formateurs</h3>
<hr> 
<table class="table table-hover">
 <thead>
    <tr>
      
        <th>Id </th>
        <th>Nom du formateur</th>
        <th>Prénom du formateur</th>
        <th>Email</th>
        <th>Disponibilité</th>
        <th>Formations supervisées</th>
    
        
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let formateur of formateurs ">

        <td> {{formateur.id}} </td>
        <td> {{formateur.nom}}</td>
        <td> {{formateur.prenom}}</td>
        <td> {{formateur.mail}}</td>
        <td> <div *ngIf="formateur.dispo==true"><span>Disponible</span> </div> 
            <div *ngIf="formateur.dispo!=true"><span >Non disponible</span> </div></td>
        <td>{{formation.nom}}</td>
       <!-- <td>
            <div *ngIf="formateur.formations!=null">
                <ul *ngFor="let form of formateur.formations ">
                    <li>{{form.nom}}</li>
                </ul>
            </div>
            <div *ngIf="formateur.formations?.length===0">pas de formations réalisées</div>
        </td>-->
        
        <!--<div *ngIf="formateur.formations!=null"  ><ul *ngFor="let form of formateur.formations "><button class="btn btn-info" (click)="formationparid(formation.id)" >{{formation.nom}} </button></ul></div>  
        -->
    </tr>
    </tbody>
</table>

</body>
