<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"> App Formations </a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" 
	data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	

	

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<!-- <li class="nav-item active"><a class="nav-link" href="#">
					<span class="sr-only">(current)</span>
			</a></li> -->
			<li class="nav-item"><a class="nav-link"
				href="/formations"> Formations </a></li>
			
			<!-- <li class="nav-item"><button (click)="afficherPersonne(3)"> Afficher Personne </button> </li> -->
			
			
			<li class="nav-item"><a class="nav-link"
				href="/gestionPayements"> Gestion Payements </a></li>
			
                <li class="nav-item"><a class="nav-link" 
                    href="/gestionFormateurs"> Gestion Formateurs </a>
                </li>

				<li class="nav-item"><a class="nav-link"
					href="/formateurs"> Formateurs </a></li>
    

			<li class="nav-item"><a class="nav-link" 
				href="/gestionUtilisateurs"> Gestion Utilisateurs </a>
			</li>


			<li class="nav-item"><a class="nav-link" 
				href="/gestionParticipants"> Gestion Participants </a>
			</li>

			

			<li class="nav-item"><a class="nav-link" 
				href="/gestionCommercials"> Gestion commercial</a>
			</li>
			<li class="nav-item"><a class="nav-link" 
				href="/gestionAppeletRdv"> Gestion appels et rdv</a>
			</li>
			<li class="nav-item"><a class="nav-link" 
				href="/gestionProspect"> Gestion Prospects</a>
			</li>
			</ul>

			

          <div *ngIf="utilisateur!=null; then ut else noUt" class="form-inline my-2 my-lg-0"></div>
                <ng-template #ut>
                
                    <li  class="nav-item">  <span (click)="espaceperso()" class="navbar-text text-warning" > {{utilisateur.prenom}} {{utilisateur.nom}} Username : {{utilisateur.username}}</span>  
                    
                    
                    </li>
                    <li>
                        <button class="btn btn-warning"  style=" --bs-btn-font-size: .75rem;" (click)="logout()"> Déconnexion </button>

                    </li>

                
            </ng-template>

                <ng-template #noUt>
              
                        
                        <li>
                            <button class="btn btn-warning"  style=" --bs-btn-font-size: .75rem;" (click)="toLogIn()"> Connexion </button>
    
                        </li>
    
                 
                </ng-template>
           


			
			
	
    </div> 
</nav>


