<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> App Formations </a>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active"><a class="nav-link" href="#">
                    <span class="sr-only">(current)</span>
            </a></li> -->

            <li class="nav-item"><a class="nav-link" href="/formations"> Formations </a></li>


        </ul>
        <!-- ADMIN   -->
        <div *ngIf="utilisateur && utilisateur.role.nom==='Admin'">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active"><a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                </a></li> -->



				<li class="nav-item"><a class="nav-link" href="/formateurs"> Formateurs </a>


				<li class="nav-item">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					data-bs-target="#dropdownMenuButton1" aria-expanded="false">
					Gestion
				</button>
				<ul class="dropdown-menu" id="dropdownMenuButton1">
					<li><a href="/gestionPayements"> Gestion Payements </a></li>

					<li ><a href="/gestionFormateurs"> Gestion Formateurs </a>
					</li>

					<li><a href="/gestionProspect"> Gestion Prospects</a>
					</li>
					<li ><a href="/gestionParticipants"> Gestion Participants </a>
					</li>

					<li><a href="/gestionCommercials"> Gestion commercial</a>
					</li>

					<li><a  href="/gestionAppeletRdv"> Gestion appels et rdv</a>
					</li>
	
					<li><a href="/gestionUtilisateurs"> Gestion Utilisateurs </a>
					</li>
	
					<li><a href="/gestionAppeletRdv"> Gestion appels et rdv</a>
					</li>
				</ul>
			</div>
		</li>
		</ul>



		</div>
                <li class="nav-item"><a class="nav-link" href="/gestionParticipants"> Gestion Participants </a>
                </li>


			</ul>

			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					data-bs-target="#dropdownMenuButton1" aria-expanded="false">
					Gestion
				</button>
				<ul class="dropdown-menu" id="dropdownMenuButton1">
					<li class="nav-item"><a class="nav-link" href="/gestionProspect"> Gestion Prospects</a>
					</li>

					<li class="nav-item"><a class="nav-link" href="/gestionAppeletRdv"> Gestion appels et rdv</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- FORMATEUR -->
		<div *ngIf="utilisateur && utilisateur.role.nom==='Formateur'">
			<ul class="navbar-nav mr-auto">
				<!-- <li class="nav-item active"><a class="nav-link" href="#">
						<span class="sr-only">(current)</span>
				</a></li> -->


				

				<li class="nav-item"><a class="nav-link" href="/formateurs"> Formateurs </a></li>

			

			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					data-bs-target="#dropdownMenuButton1" aria-expanded="false">
					Gestion
				</button>
				<ul class="dropdown-menu" id="dropdownMenuButton1">

					<li ><a  href="/gestionFormateurs"> Gestion Formateurs </a>
					</li>
	
					<li ><a href="/gestionParticipants"> Gestion Participants </a>
				</li>

				</ul>
			</div>
		</ul>
		</div>


                <li class="nav-item"><a class="nav-link" href="/gestionCommercials"> Gestion commercial</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/gestionAppeletRdv"> Gestion appels et rdv</a>
                </li>

            </ul>
        </div>

        <!-- COMMERCIAL -->
        <div *ngIf="utilisateur && utilisateur.role.nom==='Commercial'">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active"><a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                </a></li> -->


            <li class="nav-item"><a class="nav-link" 
                href="/gestionProspect"> Gestion Prospects</a>
            </li>
            


                <li class="nav-item"><a class="nav-link" href="/formations"> Formations </a></li>

                
            </ul>




            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" 
                    data-bs-toggle="dropdown" data-bs-target="#dropdownMenuButton1" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" id="dropdownMenuButton1">
                    <li class="nav-item"><a class="nav-link" href="/gestionProspect"> Gestion Prospects</a>
                    </li>

    
                    <li class="nav-item"><a class="nav-link" href="/gestionCommercials"> Gestion commercial</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/gestionAppeletRdv"> Gestion appels et rdv</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- FORMATEUR -->
        <div *ngIf="utilisateur && utilisateur.role.nom==='Formateur'">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active"><a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                </a></li> -->

    
                <li class="nav-item"><a class="nav-link"
                    href="/formations"> Formations </a></li>
            
            
                <li class="nav-item"><a class="nav-link" 
                    href="/gestionFormateurs"> Gestion Formateurs </a>
                </li>


                <li class="nav-item"><a class="nav-link"
                    href="/formateurs"> Formateurs </a></li>

            
            <li class="nav-item"><a class="nav-link" 
                href="/gestionParticipants"> Gestion Participants </a>
            </li>

        
    </ul>

        <ul>


                <li class="nav-item"><a class="nav-link" href="/formations"> Formations </a></li>


                <li class="nav-item"><a class="nav-link" href="/gestionFormateurs"> Gestion Formateurs </a>
                </li>


                <li class="nav-item"><a class="nav-link" href="/formateurs"> Formateurs </a></li>


                <li class="nav-item"><a class="nav-link" href="/gestionParticipants"> Gestion Participants </a>
                </li>
            </ul>



        </div>


	
					
				
			</ul>
		</div>
	</div>
	<div class="collapse navbar-collapse">




        <!-- PARTICIPANT     -->
        <div *ngIf="utilisateur &&  utilisateur.role.nom==='Participant'">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active"><a class="nav-link" href="#">
                        <span class="sr-only">(current)</span>
                </a></li> -->

                <li class="nav-item"><a class="nav-link" href="/formations"> Formations </a></li>

                <li class="nav-item"><a class="nav-link" href="/gestionPayements"> Gestion Payements </a></li>


            </ul>
        </div>
    </div>
    <div class="collapse navbar-collapse">



		<!-- RIGHT SIDE NAV BAR  - ESPACE PERSO  -->
        <ul *ngIf="utilisateur" class="nav navbar-nav navbar-right">


            
                
                <li class="nav-item"> <span (click)="espaceperso()" class="nav-link text-warning"> {{utilisateur.prenom}}
                    {{utilisateur.nom}}</span>



            </li>

            <li class="nav-item">
                <button class="btn btn-warning" style=" --bs-btn-font-size: .75rem;" (click)="logout()"> Déconnexion
                </button>

            </li>
        </ul>




        <ul *ngIf="utilisateur === null || utilisateur == undefined" class="nav navbar-nav navbar-right">

            <li>
                <button class="btn btn-warning" style=" --bs-btn-font-size: .75rem;" (click)="toLogIn()"> Connexion
                </button>

            </li>

        </ul>



	</div>
	<nav>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>



    </nav>


</nav>