<div class="container-fluid">

</div><form (ngSubmit)="addAppel()">
    <fieldset>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h3>Ajouter un Appel</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">

                <label path="nom" class="form-label"> Prospect </label>
                <input type="text" class="form-control" name= "commercial.nom" [(ngModel)]="appel.prospect">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="prenom" class="form-label"> Date Appel</label>
                <input type="text" class="form-control" name="commercial.prenom" [(ngModel)]="appel.date">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="adresse" class="form-label"> Commentaire</label>
                <input type="text" class="form-control" name="commercial.adresse" [(ngModel)]="appel.commentaire">
            </div>
        </div>


        <div class="row justify-content-md-center">

            <div class="col-md-auto">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ">Valider Ajout/Modification</button>
                </div>
            </div>
        </div>
        </fieldset>

        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Propect</th>
                    <th scope="col"> Date appel </th>
                    <th scope="col"> Commentaire </th>
                   
                    
                </tr>
            </thead>
            <tbody>
                
    <tr *ngFor="let app of appels">
        <td>{{app.id}}</td>
        <td>{{app.prospect}}</td>
        <td>{{app.date}}</td>
        <td>{{app.commentaire}}</td>
    
        <td>

        <td>

            <button (click)="supprimerAppel(app.id)" class="btn btn-outline-primary">

                <i class="bi bi-plus-square-fill"> Supprimer </i>
            </button>
        </td>

        <td>

            <button (click)="modifierAppel(app.id)" class="btn btn-outline-primary">

                <i class="bi bi-plus-square-fill"> Modifier </i>
            </button>
        </td>

</tr>


</tbody>

</table>

<div class="container-fluid">

</div><form  (ngSubmit)="addRdv()">
    <fieldset>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h3>Ajouter un Rendez-vous</h3>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">

                <label path="nom" class="form-label"> Prospect </label>
                <input type="text" class="form-control" name= "commercial.nom" [(ngModel)]="rdv.prospect">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="prenom" class="form-label"> Date RDV</label>
                <input type="text" class="form-control" name="commercial.prenom" [(ngModel)]="rdv.date">
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label path="adresse" class="form-label"> Lieu</label>
                <input type="text" class="form-control" name="commercial.adresse" [(ngModel)]="rdv.lieu">
            </div>
        </div>


        <div class="row justify-content-md-center">

            <div class="col-md-auto">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ">Valider Ajout/Modification</button>
                </div>
            </div>
        </div>
        </fieldset>

        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> Id </th>
                    <th scope="col"> Propect</th>
                    <th scope="col"> Date RDV </th>
                    <th scope="col"> Lieu </th>
                   
                    
                </tr>
            </thead>
            <tbody>
                
    <tr *ngFor="let rdv of rdvs">
        <td>{{rdv.id}}</td>
        <td>{{rdv.prospect}}</td>
        <td>{{rdv.date}}</td>
        <td>{{rdv.lieu}}</td>
    
        <td>

        <td>

            <button (click)="supprimerRdv(rdv.id)" class="btn btn-outline-primary">

                <i class="bi bi-plus-square-fill"> Supprimer </i>
            </button>
        </td>

        <td>

            <button (click)="modifierRdv(rdv.id)" class="btn btn-outline-primary">

                <i class="bi bi-plus-square-fill"> Modifier </i>
            </button>
        </td>

</tr>


</tbody>

</table>