<title>Login page</title>


<form (ngSubmit)="login()">
                     
	<div class="d-flex align-items-center justify-content-center" style="height: 450px">
	  <div class="text-center">
  <div class="form-group">
	<label for=>Username</label>
	<input type="text" class="form-control" name="username" [(ngModel)]="username">
	
  </div>
  <div class="form-group">
	<label for=>Password</label>
	<input type="password" class="form-control" name="password"[(ngModel)]="password">
  </div>
				  
			  <input type="submit" class="btn btn-primary mb-4" value="Valider"/>
	  </div>
	</div>
	
		  </form>
  <!-- <div *ngIf="test"> 
			<div class="text-center">
		   <div class="alert alert-warning alert-dismissible fade show col-md-4 offset-md-4" role="alert">
			   <strong>Login ou password incorrect</strong> 
			   
			 </div>
			 </div>
		  </div> -->
