<div class="container-fluid">
    
    <form (ngSubmit)="addParticipant()">

        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h3> Ajouter un participant</h3>
            </div>
        </div>

        <div class="row justify-content-md-center">

            <div class="col-md-2">
                <div class="form-group">
                    <label path="nom" class="form-label"> Nom </label>
                    <input type="text" name="participant.nom" [(ngModel)]="participant.nom">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label path="Prenom" class="form-label"> Prenom </label>
                    <input type="text" name="participant.prenom" [(ngModel)]="participant.prenom">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label path="Adresse" class="form-label"> Adresse </label>
                    <input type="text" name="participant.adresse" [(ngModel)]="participant.adresse">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label path="Mail" class="form-label"> Mail </label>
                    <input type="mail" name="participant.mail" [(ngModel)]="participant.mail">
                </div>
            </div>
            
            <div class="col-md-2">
                <div class="form-group">
                    <label path="dateNaissance" class="form-label"> Date Naissance </label>
                    <input type="date" name="participant.dateNaissance" [(ngModel)]="participant.dateNaissance">
                </div>
            </div>
            <div>
            </div> <br>
            
            
            <div class="row justify-content-md-center">

                <div class="col-md-auto">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary ">Valider Ajout/Modification</button>
                    </div>
                </div>
            </div>
            </div>
    </form>
</div>
       


<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> Nom </th>
                <th scope="col"> Prenom </th>
                <th scope="col"> Adresse </th>
                <th scope="col"> Mail </th>
                <th scope="col"> Date Naissance  </th>
                <th scope="col"> Formations  </th>
                <th scope="col"> Ajouter Formations  </th>
                <th scope="col"> Réaliser un Transaction  </th>
                <th scope="col"> Diplomes  </th>
                <th scope="col"> Ajouter Diplomes  </th>
                <th scope="col"> Supprimer le participant  </th>
                
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let part of participants">
            <td>{{part.id}}</td>
            <td>{{part.nom}}</td>
            <td>{{part.prenom}}</td>
            <td>{{part.adresse}}</td>
            <td>{{part.mail}}</td>
            <td>{{part.dateNaissance}}</td>

            <td>
                <div *ngIf="part.formations!=null">
                    <ul *ngFor="let form of part.formations ">
                        <li>{{form.nom}}</li>
                    </ul>
                </div>
                <div *ngIf="part.formations?.length===0">pas de formations réalisées</div>
            </td>

            <td><button type="button" label="Click" (click)="ajoutFormationChild(part.id)">Ajouter des
                    formation</button></td>

            <td><button (click)="ajoutTransactionChild(part.id)">Faire une transaction </button></td>

            <td>
                <div *ngIf="part.diplomes!=null">
                    <ul *ngFor="let dipl of part.diplomes">
                        <li>{{dipl.nom}}</li>
                    </ul>
                </div>
                <div *ngIf="part.diplomes?.length===0">pas de diplomes obtenus</div>
            </td>

            <td><button (click)="ajoutDiplome(part.id)">ajouter Formation </button></td>

            <td> <button (click)="supprimerParticipant(part.id)">Supprimer</button></td>
        </tr>
    </tbody>
    </table>
</div>
<div *ngIf="TrueOrFalseFormation">
    <app-ajout-formation [idParticipant]="idpart" (formToPart)="modTrueFalseForm($event)"></app-ajout-formation>

</div>

<div *ngIf="TrueOrFalsetransaction">
    <app-ajout-transaction [idParticipant]="idpart" (transToPart)="modTrueFalseTrans($event)"></app-ajout-transaction>
</div>