
<div class="container-fluid">  
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Participant</td>
            <td>Montant Total</td>
            <td>Montant Payé</td>
            <td>Transactions effectuées</td>
            <td>Date de la transaction</td>
            <td>Montant dû</td>
            <td>Faire un payement</td>           
        </tr>
    </thead>
    
        <tr *ngFor="let part of participants">
        <td>{{part.nom}} {{part.prenom}}</td>

        <td *ngIf="part.formations?.length===0">{{getMontantTolal(part.transactions[0].id)}}</td>
        <td *ngIf="part.formations?.length!==0">Pas de formation</td>

        <td *ngIf="part.transactions?.length===0">{{getMontantPaye(part.transactions)}}</td>
        <td *ngIf="part.transactions?.length!==0">Pas de payements effectués</td>

        <td><ul *ngFor="let trans of part.transactions"><li>{{trans.montant}}</li></ul></td>
        <td><ul *ngFor="let trans of part.transactions"><li>{{trans.date}}</li></ul></td>

        <td *ngIf="part.transactions?.length!==0 && part.formations?.length!==0">{{getMontantDu(part.transactions[0].id, part.transactions)}}</td>
        <td *ngIf="part.transactions?.length===0 || (getMontantTolal(part.transactions[0].id)==getMontantPaye(part.transactions)) ">Pas de montant dû</td>

        <td><button class="btn btn-outline-success  " (click)="faireTransaction(part.id)">Faire un payement</button></td>  
        </table>
    </div>

    <!--<app-commentaire [annonce]="annonce"></app-commentaire>-->

   