<div class="container-fluid">
    
  <form (ngSubmit)="addTansaction()">

      <div class="row justify-content-md-center">
          <div class="col-md-auto">
              <h3> Faire une transaction</h3>
          </div>
      </div>

      <div class="row justify-content-md-center">

          <div class="col-md-2">
              <div class="form-group">
                  <label path="Date" class="form-label"> Date </label> <br>
                  <input type="date" name="transaction.date" [(ngModel)]="transaction.date">
              </div>
          </div>

          <div class="col-md-2">
              <div class="form-group">
                  <label path="Montant" class="form-label"> Montant </label>
                  <input type="text" name="transaction.montant" [(ngModel)]="transaction.montant">
              </div>
          </div>

          <div class="col-md-2" *ngIf="participant.transactions?.length!=0">
            
              <div class="form-group">
                  <label path="payement" class="form-label"> payement </label>
                  <input type="text" name="transactionParti.payement" [(ngModel)]="transactionParti.payement">
              </div>
            
          </div>

        <div class="col-md-2" *ngIf=" participant.transactions?.length==0">
            
                <div class="form-group">            
                <label  class="form-label"> payement </label> <br>
                premiere transaction
            </div>
            
        </div>
      

          
          <div>
          </div> <br>
          
          
          <div class="row justify-content-md-center">

              <div class="col-md-auto">
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary ">Valider</button>
                  </div>
              </div>
          </div>
          </div>
  </form>
  <div class="col-md-auto">
    <div class="form-group">
<button (click)=" annuler()">Annuler </button>
</div>
</div>
</div>
